
{%- macro descLine(type) -%} 
	{%- if type != None -%}
	{{ 'ఇది ఒక '+type+'.' }}
	{%- endif -%}
{%- endmacro -%}

{%- macro infobox(name, type, address, city, state, pincode, country, contactno, category, noofdoctors, beds, services, state_id, insurance, references) -%}
{%- if insurance == '' -%}
    {%- set insurance=' ' -%}
{%- endif -%}
{%- if noofdoctors == '' -%}
    {%- set noofdoctors=' ' -%}
{%- endif -%}
{%- if beds == '' -%}
    {%- set beds=' '-%}
{%- endif -%}
{%- if pincode == '' -%}
    {%- set pincode=' '-%}
{%- endif -%}

	{{Infobox hospital
| name                  = {{name}}
| org/group             = 
| logo                  = 
| logo_size             = 
| logo_alt              = 
| image                 = 
| image_size            =  
| alt                   = 
| caption               = 
| coordinates           = 
| location              = {{address}},{{pincode}}
| region                = [[{{city}}]]
| state                 = [[{{state}}]]
| country               = [[భారతదేశం]]
| healthcare            = {{category}}
| funding               = 
| type                  = {{type}}
| religious_affiliation = 
| affiliation           = 
| patron                = 
| network               = {{insurance}}
| standards             = 
| emergency             = {{contactno}}
| beds                  = {{beds}}
| speciality            = 
| helipad               = 
| h1-number             = 
| h1-length-f           = 
| h1-length-m           = 
| h1-surface            = 
| publictransit         = 
| former-names          = 
| constructed           = 
| opened                = 
| closed                = 
| demolished            = 
| website               = 
| other_links           = 
| module                = 
}}
{%- endmacro -%}

{%- macro intro(name, state, category) -%}
        {%- set line1= [name," [[ఆసుపత్రి]] ",state," [రాష్ట్రంలో|రాష్ట్రం] ఉన్న ఒక ",category," వైద్య సౌకర్యం. " ] |join('') -%}
        {%- set line2= [name," [[ఆసుపత్రి]] ", category," వైద్య సౌకర్యం. ఇది ",state," [రాష్ట్రంలో|రాష్ట్రం] ఉన్నది."  ]|join('') -%}
        {%- set line3= [name," ",state," [రాష్ట్రంలో|రాష్ట్రం] ఉన్న ఒక ఆరోగ్య కేంద్రం. ఇది ",category," నిర్వహణ లో ఉన్నది."]|join('') -%}
	    {{ [ line1, line2, line3 ] | random }}
{%- endmacro -%}

{%- macro location(city, address) -%}     
    {%- set line1= ["ఈ ఆసుపత్రి ",city," లోన ఉన్నది.ఈ ఆసుపత్రి ",address," నందు ఉన్నది."] |join('') -%}
    {%- set line2= ["ఈ ఆసుపత్రి యొక్క చిరునామా : ",address,", ఈ ఆసుపత్రి ",city," లో  ఉన్నది."] |join('') -%}
	{{ [ line1,line2 ] | random }}
{%- endmacro -%}

{%- macro overview(name,type) -%}	
    {%- set line1= [name,"అనేది ఒక ",type,"."] |join('') -%}
    	{{ [ line1 ] | random }}
{%- endmacro -%}

{%- macro facilities(noofdoctors, beds, services,insurance) -%}
	{{ '==సౌకర్యాలు=='+'\n' }}
    {%- if (noofdoctors!= 'nan') -%}
        {%- set line1= ["ఈ ఆసుపత్రిలోని మొత్తం [వైద్యుల|వైద్యుడు] సంఖ్య ",noofdoctors ,". "] |join('') -%}
        {%- set line2= ["ఈ ఆసుపత్రిలో పని చెసే [వైద్యుల|వైద్యుడు] ",noofdoctors ,". "] |join('') -%}
        {{ [ line1,line2 ] | random }}
    {%- endif -%}
    
    {%- if (beds!= 'nan') -%}
        {%- set line1= ["ఈ ఆసుపత్రిలోని మొత్తం పడకల సంఖ్య ",beds," . "] |join('') -%}
        {%- set line2= ["ఈ ఆసుపత్రిలో రోగుల కోసం ", beds ,"పడకలు ఉన్నాయి.  "] |join('') -%}
        {{ [ line1,line2 ] | random }}
    {%- endif -%}

    {%- if services == 'nan' -%}
        {%- set line = 'nothing' -%}
    {%- else -%}
        {% set ref_list=references.split(',') %}
        {% set services_list=services.split(',') %}
        {%- if services_list| length >= 3 -%}
            {%- set line = services_list[:2]|join(',') -%}
            {{ "\nఈ ఆసుపత్రి "+line+ "వంటి రోగనిర్ధారణ సౌకర్యాలు అందిస్తుంది. సౌకర్యాల పూర్తి  జాబితా :\n\nref>ref_list[0]</ref>" }}
            {%- for service in services_list -%}
                {{'* '+service + '\n'}}
            {%- endfor -%}
        {%- elif services_list| length >= 3 -%}
            {{ "\nఈ ఆసుపత్రి అందించే రోగనిర్ధారణ సౌకర్యాల జాబితా  :ref>ref_list[0]</ref>\n\n" }}
            {%- for service in services_list -%}
                {{'* '+service + '\n'}}
            {%- endfor -%}
        {%- elif services_list | length > 1 -%}
            {%- set line = services_list|join(', ')|string -%}
            {{ '\n'+line+ ' వంటి రోగనిర్ధారణ సౌకర్యాలు ఆసుపత్రి ద్వారా అందించబడతాయి. ref>ref_list[0]</ref>'}}
        {%- elif services_list | length  == 1 -%}
            {{ "\nఈ ఆసుపత్రి "+services_list[0]+"  రోగనిర్ధారణ సౌకర్యాలకు గుర్తించబడినది.ref>ref_list[0]</ref> " }}
        {%- endif %}
    {%- endif -%}

    {%- if insurance =='nan'-%}
        {%- set line='nothing' -%}
    {%- else -%}
        {% set ref_list=references.split(',') %}
        {%- set line1= ["ఈ ఆసుపత్రికి నేషనల్ ఇన్సూరెన్స్ కంపెనీ లిమిటెడ్ అనే భీమా సంస్థ  భీమా సదుపాయం కల్పిస్తుంది.<ref>ref_list[0]</ref>"] |join('') -%}
        {%- set line2= ["నేషనల్ ఇన్సూరెన్స్ కంపెనీ లిమిటెడ్ అనే భీమా సంస్థ ఈ ఆసుపత్రి కొరకు భీమా సదుపాయం కల్పిస్తుంది.<ref>ref_list[0]</ref>"] |join('') -%}
            {{ [ line1,line2 ] | random }}
    {%- endif -%}

{%- endmacro -%}

{%- macro ending(references) -%}
	{{ '==మూలాలు=='+'\n\n1. ఈ వివరములు [https://www.practo.com/ | ప్రక్టో ] వారి వెబ్సైటు నుండి సేకరించబడినవి.'+'\n\n'+'2. [https://nationalinsurance.nic.co.in/en/health-insurance/city-wise-list-ppn-hospitals | National Insurance] ప్లాట్ఫారం ఇండియా  విడుదల చేసిన 2022 డేటా.'+'\n\n' + '3. [https://data.gov.in/catalog/hospital-directory-national-health-portal| Open Government Data] వారి ప్లాట్ఫారం నుండి సేకరించబడినవి.'+'\n\n'}}
{%- endmacro -%}

{%- macro details(country, state, city) -%}
	[[వర్గం: తెవికీ ఆసుపత్రులు ]][[వర్గం: తెవికీ  వైద్య సంస్థలు]]
    [[వర్గం: {{country}} లో ఆసుపత్రులు ]] [[వర్గం: {{country}} లో వైద్య సంస్థలు ]]
    [[వర్గం: {{state}} లో ఆసుపత్రులు ]] [[వర్గం: {{state}} లో వైద్య సంస్థలు ]]
    [[వర్గం: {{city}} లో ఆసుపత్రులు ]] [[వర్గం: {{city}} లో వైద్య సంస్థలు ]]

    '''సూచన:పైన ఇవ్వబడిన వివరాలన్నీ 05 జులై, 2022 తారీఖున సంగ్రహించబడ్డాయి.'''
{%- endmacro -%}



{#- Article written from here -#}

{#- Hospital_Name -#}

{# descLine(Caretype) #}
{{ infobox(name, type, address, city, state, pincode, country, contactno, category, noofdoctors, beds, services, state_id, insurance, references) }}
{{ intro(name, state, category)}}
{{ location(city, address) }} 
{{ overview(name,type) }}
{{ facilities(noofdoctors, beds, services, insurance)}}
{{ ending(references) }}
{{ details(country, state, city) }}